.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: var(--background-color);
    padding: 0 1em;
}

.container img {
    width: clamp(200px, 25vw, 340px);
}