.button {
    background-color: #1ED760;
    color: #fff;
    border-radius: 36px;
    border: none;
    padding: 20px 60px;
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #131313;
}

.button:hover {
    background-color: #1DB954;
}

.button:active {
    background-color: #1ED760;
    transform: scale(0.95);
}

.button:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}