.charts-container {
    padding: 0 2em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    max-width: 100%;
}

.chart-container {
    position: relative;
}

@media (max-width: 1024px) {
    .charts-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto
    }
}